<app-menu></app-menu>


<!-- pt = padding-top -->
<div class="container-fluid pt-3">
    <div class="row">
        <!-- LADO ESQUERDO DA TELA -->
        <div class="col-12 col-lg-9">

            <div class="card-info">
                <div class="row">
                    <div class="col-12 col col-md-8">
                        <h1 class="titulo">Crud Matérias</h1>
                        <h3 class="subtitulo">Mais eficiência no controle de <span>Matérias</span> e notas. 
                            Você não precisa mais se preocupar em lembrar as notas e as matérias que teve durante seu curso na faculdade.
                            Agora com o <span>Crud Matérias</span> você pode controlar tudo isso de forma simples e eficiente.
                            Confira um resumo das informações através do nosso <span>Dashboard</span>
                        </h3>
                        <app-button textButton="Iniciar" routerLink="/materias"></app-button>
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="../../../assets/dashboard-2.png" width="70%">
                    </div>
                </div>
            </div>

            <!-- parte de baixo da tela -->
            <div class="row mt-4">

                <!-- card spinner esquerda-->
                <div class="col-6">
                    <div class="card-info">
                        <div class="row">
                            <div class="col-8">
                                <p class="texto-card">Total de matérias cadastradas no sistema</p>
                                <p class="numero-card">79</p>
                                <p class="destaque-card">+1 adicionado no último mês</p>
                            </div>
                            <div class="col-4">
                                <!-- <mat-progress-spinner class="example-margin mx-auto" mode="determinate" value="79"></mat-progress-spinner> -->
                                <mat-progress-spinner
                                    class="example-margin"
                                    [color]="color"
                                    [mode]="mode"
                                    [value]="value">
                                </mat-progress-spinner>
                                <p class="info-spinner">79/150</p>
                            </div>
                        </div>
                    </div>
                </div>     
                
                <!-- card spinner direita-->
                <div class="col-6">
                    <div class="card-info">
                        <div class="row">
                            <div class="col-8">
                                <p class="texto-card">Total de notas</p>
                                <p class="numero-card">6</p>
                                <p class="destaque-card">+2 adicionado no último mês</p>
                            </div>
                            <div class="col-4">
                                <mat-progress-spinner
                                    class="example-margin"
                                    [color]="color"
                                    [mode]="mode"
                                    [value]="noteValue">
                                </mat-progress-spinner>
                                <p class="info-spinner">4/6</p>
                            </div>
                        </div>
                    </div>
                </div>  
                
                <!-- daqui para baixo-->
                <!-- matérias cadastradas -->
                <div class="col-12 mt-4">
                    <div class="card-info">
                        <h3 class="titulo">Ultima Matéria cadastrada</h3>

                        <hr class="hr">

                        <div class="row">
                            <div class="col-1"><mat-icon>history_edu</mat-icon></div>
                            <div class="col-1"><p class="texto-p">1</p></div>
                            <div class="col"><p class="texto-p">Desenvolvimento de Framework III</p></div>
                            <div class="col"><p class="texto-p">9</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- LADO DIREITO DA TELA -->
        <div class="col-12 col-lg-3">
            <div class="card-info right-side">
                <div class="container-perfil">
                    <img src="../../../assets/perfil.jpg" class="img-perfil">
                    <h4>Seja bem vindo</h4>
                    <h5>{{ userName }}</h5>
                    <h5 class="location"><mat-icon>location_on</mat-icon> SP - Brasil </h5>
                </div>

                <hr class="hr">

                <p class="texto-p">"Não faz sentido olhar para trás e pensar: devia ter feito isso ou aquilo, devia ter estado lá.
                    Isso não importa. Vamos inventar o amanhã e parar de nos preocupar com o passado.<br>
                    Steve Jobs<br> 
                    Nota: 2007, discurso no regresso à Apple"
                </p>
                <hr class="hr">

                <ul>
                    <li><mat-icon>school</mat-icon>Gerencie Matérias</li>
                    <li><mat-icon>scoreboard</mat-icon>Adicione Notas</li>
                    <li><mat-icon>format_list_bulleted</mat-icon>Consulte Cadastros</li>
                    <li><mat-icon>delete</mat-icon>Exclua Matérias</li>
                </ul>
            </div>
        </div> 
        
    </div>
</div>
