.titulo {
    font-size: 26px;
    font-weight: 500;
    padding: 0;
    margin: 0 !important;
    color: var(--primary-color);
}

.subtitulo {
    font-size: 16px;
    font-weight: 300;
    margin: 0 !important;
    padding: 2px 0px 14px 0px;
    color: var(--gray-color);
}